<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Item</title>
</head>
<body>
    <a href="/dashboard">Home</a>
    <br>
    <br>
    <a href="/logout">Logout</a>
    <br>
    <br>
    
    {% if messages %}
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
    {% endif %}

    <h1>Create a New Wish List</h1>

    <form action="/addItem" method="post">
        {% csrf_token %}
        Item/Product: <input type="text" name="product">
        <input type="submit" value="Add">
    </form>

</body>
</html>
